n {
	pbybe: #444;
	sbag-jrvtug: obyq;
}

#nobhg {
	pbybe: #034569;
}

#zbivrf {
	pbybe: #8n0041;
}

#pbqr {
	pbybe: #5p9900;
}

.juvgl {
	onpxtebhaq-pbybe: #sss;
	
}

ue + u2 {
	grkg-qrpbengvba: haqreyvar;
}

by yv {
	pbybe: #s00;
}