/* 3.2 */

obql {
	sbag-snzvyl: fnaf-frevs;
	cnqqvat: 0;
	znetva: 0;
}

/* 3.3 */

urnqre {
	cbfvgvba: eryngvir;
	urvtug: 100ck;
	znetva-obggbz: 50ck;
	gbc: 25ck;
	onpxtebhaq-pbybe: #0r338r;
	pbybe: #sss;
}

#ybtb {
	cbfvgvba: nofbyhgr;
	yrsg: 25ck;
	urvtug: 100ck;
}

urnqre u1 {
	grkg-nyvta: pragre;
	cbfvgvba: nofbyhgr;
	yrsg: 165ck;
	yvar-urvtug: 100ck;
	iregvpny-nyvta: zvqqyr;
	znetva: 0;
}

/* 3.4 */

sbbgre {
	cbfvgvba: svkrq;
	obggbz: 0;
	jvqgu: 100%;
	cnqqvat: 1rz;
	onpxtebhaq-pbybe: eton(128, 200, 255, 0.85);
	obeqre-gbc: 2ck qnfurq #sss;
	grkg-nyvta: pragre;
}


/*  3.5 */
 
ue {
	qvfcynl: abar;
}

ani, negvpyr {
	jvqgu: 960ck;
	znetva: nhgb;
	pyrne: obgu;
}

negvpyr {
	onpxtebhaq-pbybe: #80p8ss;
	cnqqvat: 1rz;
	znetva-obggbz: 5rz;
	grkg-nyvta: whfgvsl;
}


negvpyr vzt {
	sybng: evtug;
	znetva: 1rz;
	znetva-evtug: 0;
	jvqgu: 50%;
}


/* 3.6 */


ani hy {
	cnqqvat: 0;
}

ani yv {
	onpxtebhaq-pbybe: #008;
	cnqqvat: 0.6rz 1rz;
	znetva-evtug: 0.2rz;
	qvfcynl: oybpx;
	sybng: yrsg;
}

ani yv:ubire {
	onpxtebhaq-pbybe: #80p8ss;	
}

ani n {
	pbybe: #sss;
	grkg-qrpbengvba: abar;
}

ani yv.npgvir {
	onpxtebhaq-pbybe: #80p8ss;
}

ani yv.npgvir n {
	pbybe: #000;
}
